.menubody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.sideList {
  position: fixed;
  top: 10%;
  left: 10%;
  background-color: #f2e9e9;

  display: flex;
  align-items: center;

  flex-direction: column;

  width: 20%;
  height: 100vh;
}

.searchBar {
  background-color: #f2e9e9;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 15%;
}

.searchBar > input {
  background-color: white;

  border-radius: 20px;
  width: 80%;
  padding: 5px;

  font-size: 3vh;
}

.searchBar > span {
  margin-top: 5%;
  font-size: 3vh;
}

.menuList {
  display: flex;
  flex-direction: column;

  font-size: 3vh;

  margin-left: 15%;
  width: 85%;
  height: 75%;
}

.menuList > a {
  margin-bottom: 10%;
}

.ProductList {
  background-color: #f2e9e9;

  margin-left: 25%;
  width: 80%;
}

.scheda {
  background-color: bisque;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  width: 20%;
  height: 35%;
}

.image {
  width: 80%;
  height: 65%;
}

.image > img {
  width: 100%;
  height: 100%;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 15%;
}

.bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 15%;
}

.category {
  display: flex;
  flex-direction: column;

  margin-bottom: 20%;
}

.productBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  margin-left: 2%;
  margin-right: 18%;
  margin-bottom: 3%;
}

.productImageInfo {
  display: flex;
  justify-content: space-between;

  width: 70%;
}

.productImageInfo > img {
  border-radius: 20px;
  width: 50%;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.productName {
  font-size: 2vw;
}

.productPrice {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productPriceEur {
  font-size: 1.9vw;
}

.productPriceCent {
  font-size: 1vw;
}

.productBuy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 3px solid black;
  border-radius: 20px;

  width: 10%;
  padding: 2%;
}

.productBuy > div {
  font-size: 1.5vw;
  margin: 0 12%;
}
